@charset "UTF-8";

@font-face {
  font-family: "jt-iconfont";
  src:url("fonts/jt-iconfont.eot");
  src:url("fonts/jt-iconfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/jt-iconfont.woff") format("woff"),
    url("fonts/jt-iconfont.ttf") format("truetype"),
    url("fonts/jt-iconfont.svg#jt-iconfont") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "jt-iconfont" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "jt-iconfont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jt-icon-activites:before {
  content: ">";
}
.icon-jt-icon-add-thin:before {
  content: "?";
}
.icon-jt-icon-album:before {
  content: "@";
}
.icon-jt-icon-album-thin:before {
  content: "[";
}
.icon-jt-icon-camera:before {
  content: "]";
}
.icon-jt-icon-camera-thin:before {
  content: "^";
}
.icon-jt-icon-chevrondown:before {
  content: "_";
}
.icon-jt-icon-chevronleft:before {
  content: "`";
}
.icon-jt-icon-chevronright:before {
  content: "{";
}
.icon-jt-icon-chevronup:before {
  content: "|";
}
.icon-jt-icon-children:before {
  content: "}";
}
.icon-jt-icon-classes:before {
  content: "~";
}
.icon-jt-icon-dashboard:before {
  content: "\\";
}
.icon-jt-icon-delete:before {
  content: "a";
}
.icon-jt-icon-drafts:before {
  content: "b";
}
.icon-jt-icon-extras:before {
  content: "c";
}
.icon-jt-icon-fav:before {
  content: "d";
}
.icon-jt-icon-fav-thin:before {
  content: "e";
}
.icon-jt-icon-frameworks:before {
  content: "f";
}
.icon-jt-icon-help:before {
  content: "g";
}
.icon-jt-icon-images:before {
  content: "h";
}
.icon-jt-icon-message:before {
  content: "i";
}
.icon-jt-icon-more:before {
  content: "j";
}
.icon-jt-icon-name:before {
  content: "k";
}
.icon-jt-icon-staff:before {
  content: "w";
}
.icon-jt-icon-story:before {
  content: "x";
}
.icon-jt-icon-tag-thin:before {
  content: "y";
}
.icon-jt-icon-tree:before {
  content: "1";
}
.icon-jt-icon-edit:before {
  content: "2";
}
.icon-jt-icon-search:before {
  content: "3";
}
.icon-jt-icon-password-thin:before {
  content: "4";
}
.icon-jt-icon-email-thin:before {
  content: "5";
}
.icon-jt-icon-addtext-thin:before {
  content: "6";
}
.icon-jt-icon-parent:before {
  content: "l";
}
.icon-jt-icon-imagethin:before {
  content: "m";
}
.icon-jt-icon-groupstory:before {
  content: "n";
}
.icon-jt-icon-classstory:before {
  content: "o";
}
.icon-jt-icon-childstory:before {
  content: "p";
}
.icon-jt-icon-addtext-thin-1:before {
  content: "q";
}
.icon-jt-icon-addphotogrid:before {
  content: "r";
}
