/* Stylesheet for JT Desktop version */
/* ---------- Variables ---------- */
/* Main colours - refer to style guide for names and colours */
/* Header Title in top melon bar */
/* Heading font size gradations */
/* Font Families */
/* Font Weight */
/* Icons */
/* ---------- End Variables ---------- */
/* ---------- Global Styling ---------- */
@font-face {
  font-family: "jt-icons";
  src: url("../fonts/jt-iconfont.eot");
  src: url("../fonts/jt-iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/jt-iconfont.woff") format("woff"), url("../fonts/jt-iconfont.ttf") format("truetype"), url("../fonts/jt-iconfont.svg#jt-iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "museo100";
  src: url("../fonts/museo100-regular-webfont.eot");
  src: url("../fonts/museo100-regular-webfont?#iefix") format("embedded-opentype"), url("../fonts/museo100-regular-webfont.woff") format("woff"), url("../fonts/museo100-regular-webfont.ttf") format("truetype"), url("../fonts/museo100-regular-webfont.svg#museo100-regular-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 82, ../scss/style.scss */
body {
  font-family: "myriad-pro", sans-serif;
  font-weight: normal;
  letter-spacing: 0.5px;
}

/* line 88, ../scss/style.scss */
h1, h2, h3 {
  font-family: "museo", serif;
  font-weight: 300;
}

/* line 93, ../scss/style.scss */
h1 {
  font-size: 70px;
  color: #FFF;
}

/* line 98, ../scss/style.scss */
h2 {
  font-size: 25px;
  font-family: "museo100", serif;
  color: #FFF;
}

/* line 104, ../scss/style.scss */
h3 {
  color: #FFF;
  font-size: 20px;
}

/* line 109, ../scss/style.scss */
h6 {
  font-size: 20px;
  font-family: "myriad-pro", sans-serif;
  color: #FFF;
  font-weight: lighter;
}

/* line 116, ../scss/style.scss */
.margin-t-20 {
  margin-top: 20px;
}

/* line 120, ../scss/style.scss */
.margin-t-60 {
  margin-top: 60px;
}

/* line 124, ../scss/style.scss */
.margin-t-185 {
  margin-top: 185px;
}

/* line 128, ../scss/style.scss */
.margin-t-200 {
  margin-top: 200px;
}

/* line 132, ../scss/style.scss */
.relative {
  position: relative;
}

/* line 136, ../scss/style.scss */
.none {
  display: none !important;
}

/* line 140, ../scss/style.scss */
.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  overflow: auto;
}

/* line 149, ../scss/style.scss */
.melonColour {
  color: #F16259 !important;
}

/* line 153, ../scss/style.scss */
.width-55-perc {
  width: 55% !important;
}

/* line 157, ../scss/style.scss */
.width-59-perc {
  width: 59% !important;
}

/* line 161, ../scss/style.scss */
.padding-left-0 {
  padding-left: 0px;
}

/* line 165, ../scss/style.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 170, ../scss/style.scss */
::-webkit-input-placeholder {
  color: #FFF;
  font-weight: lighter;
  letter-spacing: 0.5px;
}

/* line 176, ../scss/style.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #FFF;
  font-weight: lighter;
  letter-spacing: 0.5px;
}

/* line 182, ../scss/style.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFF;
  font-weight: lighter;
  letter-spacing: 0.5px;
}

/* line 188, ../scss/style.scss */
:-ms-input-placeholder {
  color: #FFF;
  font-weight: lighter;
  letter-spacing: 0.5px;
}

/* ---------- End Global Styling ---------- */
/* ---------- Other Styling ---------- */
/* line 197, ../scss/style.scss */
.melonBackground {
  background: #F16259 url("../img/loginBackground.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  text-align: center;
}

/* line 211, ../scss/style.scss */
.greyBackground {
  background: #e4e3e3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  text-align: center;
}

/* line 222, ../scss/style.scss */
.headingText {
  height: 189px;
}

/* line 226, ../scss/style.scss */
.loginContainer, .retrieveContainer {
  width: 44%;
  margin: 0 auto;
  padding-top: 10px;
}
/* line 231, ../scss/style.scss */
.loginContainer input, .retrieveContainer input {
  height: 50px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  color: #FFF;
  font-size: 20px;
  padding: 0 70px;
  line-height: 21px;
  font-weight: lighter;
}
/* line 242, ../scss/style.scss */
.loginContainer input:focus, .retrieveContainer input:focus {
  background: rgba(255, 255, 255, 0.3);
}
/* line 247, ../scss/style.scss */
.loginContainer .loginBtn, .retrieveContainer .loginBtn {
  margin-top: 60px;
}
/* line 250, ../scss/style.scss */
.loginContainer .loginBtn button, .retrieveContainer .loginBtn button {
  background: transparent;
  border: 2px solid #983333;
  border-radius: 40px;
  width: 260px;
  color: #983333;
  font-family: myriad-pro;
  font-size: 20px;
  font-weight: normal;
  padding: 11px 0;
}
/* line 261, ../scss/style.scss */
.loginContainer .loginBtn button:hover, .retrieveContainer .loginBtn button:hover {
  background: #983333;
  color: #FFF;
}
/* line 266, ../scss/style.scss */
.loginContainer .loginBtn button:focus, .retrieveContainer .loginBtn button:focus {
  background: #983333;
  color: #FFF;
}
/* line 271, ../scss/style.scss */
.loginContainer .loginBtn button:active, .retrieveContainer .loginBtn button:active {
  background: #983333;
  color: #FFF;
}
/* line 280, ../scss/style.scss */
.loginContainer .forgotPassword p, .retrieveContainer .forgotPassword p {
  font-size: 17px;
  color: #983333;
  cursor: pointer;
  font-weight: lighter;
}
/* line 286, ../scss/style.scss */
.loginContainer .forgotPassword p:hover, .retrieveContainer .forgotPassword p:hover {
  font-weight: bold;
}
/* line 290, ../scss/style.scss */
.loginContainer .forgotPassword p:focus, .retrieveContainer .forgotPassword p:focus {
  font-weight: bold;
}
/* line 294, ../scss/style.scss */
.loginContainer .forgotPassword p:active, .retrieveContainer .forgotPassword p:active {
  font-weight: bold;
}

/* line 302, ../scss/style.scss */
.email {
  position: relative;
}
/* line 306, ../scss/style.scss */
.email input[type="email"] {
  position: relative;
}
/* line 310, ../scss/style.scss */
.email:before {
  content: '5';
  font-family: jt-icons;
  position: absolute;
  font-size: 35px;
  color: white;
  left: 15px;
  font-weight: normal;
  z-index: 2;
}

/* line 323, ../scss/style.scss */
.password {
  position: relative;
}
/* line 327, ../scss/style.scss */
.password input[type="password"] {
  position: relative;
}
/* line 331, ../scss/style.scss */
.password:before {
  content: '4';
  font-family: jt-icons;
  position: absolute;
  font-size: 38px;
  color: white;
  left: 15px;
  font-weight: normal;
  z-index: 2;
}

/* line 344, ../scss/style.scss */
.retrieveContainer {
  padding-top: 10px;
}
/* line 347, ../scss/style.scss */
.retrieveContainer input {
  margin-bottom: 126px;
}

/* line 353, ../scss/style.scss */
.errorStyle {
  width: 44%;
  margin: 0 auto;
  padding-top: 10px;
}
/* line 358, ../scss/style.scss */
.errorStyle input {
  height: 50px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  color: #D0504D;
  font-size: 20px;
  padding: 0 70px;
  line-height: 21px;
  font-weight: lighter;
  border: 2px solid #D0504D;
}
/* line 370, ../scss/style.scss */
.errorStyle input:focus {
  background: rgba(255, 255, 255, 0.3);
}

/* line 376, ../scss/style.scss */
.errorEmail {
  position: relative;
}
/* line 380, ../scss/style.scss */
.errorEmail input[type="email"] {
  position: relative;
}
/* line 384, ../scss/style.scss */
.errorEmail:before {
  content: '5';
  font-family: jt-icons;
  position: absolute;
  font-size: 35px;
  color: #D0504D;
  left: 15px;
  font-weight: normal;
  z-index: 2;
}

/* line 397, ../scss/style.scss */
.errorPassword {
  position: relative;
}
/* line 401, ../scss/style.scss */
.errorPassword input[type="password"] {
  position: relative;
}
/* line 405, ../scss/style.scss */
.errorPassword:before {
  content: '4';
  font-family: jt-icons;
  position: absolute;
  font-size: 38px;
  color: #D0504D;
  left: 15px;
  font-weight: normal;
  z-index: 2;
}

/* line 420, ../scss/style.scss */
#whatPersonPage .circleIcon {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 60px;
  height: 75px;
  width: 75px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 40px;
  color: #FFF;
  cursor: pointer;
  -webkit-transition: all 500ms ease 100ms;
  -moz-transition: all 500ms ease 100ms;
  -o-transition: all 500ms ease 100ms;
  transition: all 500ms ease 100ms;
}
/* line 435, ../scss/style.scss */
#whatPersonPage .circleIcon:first-child {
  margin-right: 70px;
}
/* line 439, ../scss/style.scss */
#whatPersonPage .circleIcon:hover {
  background: #983333;
  color: #983333;
}
/* line 444, ../scss/style.scss */
#whatPersonPage .circleIcon:active {
  background: #983333;
  color: #983333;
}
/* line 449, ../scss/style.scss */
#whatPersonPage .circleIcon:focus {
  background: #983333;
  color: #983333;
}
/* line 454, ../scss/style.scss */
#whatPersonPage .circleIcon p {
  font-family: "myriad-pro", sans-serif;
  font-size: 20px;
}
/* line 460, ../scss/style.scss */
#whatPersonPage .personIcon {
  font-family: jt-icons;
  color: #F16259;
  font-size: 72px;
  line-height: 83px;
}

/* line 470, ../scss/style.scss */
#chooseCentrePage .accordionPanel {
  width: 587.5px;
  margin: 20px auto 0 auto;
  text-align: left;
  background: #FFF;
  padding: 10px 0;
  border-radius: 4px;
  cursor: pointer;
}
/* line 480, ../scss/style.scss */
#chooseCentrePage .logoCircle {
  display: inline-block;
  vertical-align: middle;
  width: 75px;
  height: 75px;
  border: 2px solid #F16259;
  border-radius: 60px;
  padding: 5px;
  margin-left: 40px;
}
/* line 490, ../scss/style.scss */
#chooseCentrePage .logoCircle img {
  width: 80%;
  height: 80%;
  margin-top: 6px;
  margin-left: 5px;
}
/* line 498, ../scss/style.scss */
#chooseCentrePage .centreText {
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
}
/* line 503, ../scss/style.scss */
#chooseCentrePage .centreText .centreHeading {
  font-family: "myriad-pro", sans-serif;
  font-size: 20px;
  color: #F16259;
  font-weight: 500;
}
/* line 510, ../scss/style.scss */
#chooseCentrePage .centreText .selectRoom {
  font-family: "myriad-pro", sans-serif;
  font-size: 17px;
  color: #9f9f9e;
}
/* line 517, ../scss/style.scss */
#chooseCentrePage .centreList {
  background: #fbdbda;
  width: 587.5px;
  margin: -2px auto 0 auto;
  text-align: left;
  height: 289px;
  overflow-y: auto;
}
/* line 526, ../scss/style.scss */
#chooseCentrePage .accordionList {
  padding: 10px 5px 10px 159px;
  color: #282828;
  font-size: 17px;
  border-bottom: 1px solid #F16259;
  cursor: pointer;
}
/* line 533, ../scss/style.scss */
#chooseCentrePage .accordionList:last-child {
  border-bottom: none;
}
/* line 537, ../scss/style.scss */
#chooseCentrePage .accordionList:hover {
  background: #F16259;
  color: #FFF;
}
/* line 542, ../scss/style.scss */
#chooseCentrePage .accordionList:active {
  background: #F16259;
  color: #FFF;
}
/* line 547, ../scss/style.scss */
#chooseCentrePage .accordionList:focus {
  background: #F16259;
  color: #FFF;
}
/* line 553, ../scss/style.scss */
#chooseCentrePage .switchBtn {
  margin-top: 60px;
}
/* line 556, ../scss/style.scss */
#chooseCentrePage .switchBtn button {
  background: transparent;
  border: 2px solid #983333;
  border-radius: 40px;
  width: 260px;
  color: #983333;
  font-family: myriad-pro;
  font-size: 20px;
  font-weight: normal;
  padding: 11px 0;
}
/* line 567, ../scss/style.scss */
#chooseCentrePage .switchBtn button:hover {
  background: #983333;
  color: #FFF;
}
/* line 572, ../scss/style.scss */
#chooseCentrePage .switchBtn button:focus {
  background: #983333;
  color: #FFF;
}
/* line 577, ../scss/style.scss */
#chooseCentrePage .switchBtn button:active {
  background: #983333;
  color: #FFF;
}

/* line 585, ../scss/style.scss */
.header {
  background: #F16259;
  height: 42px;
  color: #FFF;
}
/* line 590, ../scss/style.scss */
.header .topIcons {
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  height: 31px;
  width: 31px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}
/* line 600, ../scss/style.scss */
.header .topIcons .icon {
  font-family: jt-icons;
  font-size: 26px;
  font-weight: normal;
}
/* line 606, ../scss/style.scss */
.header .topIcons .alarm {
  font-size: 30px;
  margin-top: -3px;
}
/* line 611, ../scss/style.scss */
.header .topIcons .topIconText {
  font-size: 14px;
  display: none;
}
/* line 618, ../scss/style.scss */
.header .topProfile {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  cursor: pointer;
}
/* line 624, ../scss/style.scss */
.header .topProfile .profilePicture {
  width: 30px;
  height: 30px;
  border: 2px solid #FFF;
  border-radius: 40px;
}
/* line 630, ../scss/style.scss */
.header .topProfile .profilePicture img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}
/* line 638, ../scss/style.scss */
.header .divider {
  height: 25px;
  width: 1px;
  background: #983333;
  display: inline-block;
  vertical-align: middle;
}
/* line 646, ../scss/style.scss */
.header .searchBar {
  position: absolute;
  right: 170px;
  width: 0px;
}
/* line 651, ../scss/style.scss */
.header .searchBar input {
  background: #f6918b;
  border: none;
  border-radius: 4px;
  height: 33px;
  text-align: right;
  color: #FFF;
  margin: 0;
  padding: 0;
}
/* line 663, ../scss/style.scss */
.header .profileDropDown {
  display: none;
  position: absolute;
  z-index: 1;
  background: #333333;
  padding: 10px 20px;
  right: 0;
  border-radius: 4px;
  margin-top: 8px;
  height: 140px;
}
/* line 674, ../scss/style.scss */
.header .profileDropDown:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #333;
  position: absolute;
  top: -9px;
  right: 5px;
  z-index: 2;
  border-radius: 5px;
}
/* line 688, ../scss/style.scss */
.header .profileDropDown #viewProfileBtn {
  cursor: pointer;
}
/* line 692, ../scss/style.scss */
.header .profileDropDown .profilePicture {
  width: 50px;
  height: 50px;
  border: 2px solid #F16259;
  border-radius: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
/* line 701, ../scss/style.scss */
.header .profileDropDown .profilePicture img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}
/* line 708, ../scss/style.scss */
.header .profileDropDown .profileText {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-family: "myriad-pro", sans-serif;
}
/* line 718, ../scss/style.scss */
.header .profileDropDown .profileText .personEmail {
  font-weight: lighter;
  font-size: 12px;
}
/* line 724, ../scss/style.scss */
.header .profileDropDown .logout {
  margin-top: 30px;
}
/* line 727, ../scss/style.scss */
.header .profileDropDown .logout button {
  background: #333333;
  border: 2px solid #ccc;
  border-radius: 40px;
  color: #ccc;
  font-weight: lighter;
  letter-spacing: 0.5px;
  font-family: "myriad-pro", sans-serif;
  padding: 6px 25px;
  font-size: 14px;
}

/* line 742, ../scss/style.scss */
.row {
  max-width: 1200px;
}

/* line 746, ../scss/style.scss */
#mainTemplate {
  margin-top: 42px;
}

/* line 750, ../scss/style.scss */
.mainContent {
  position: fixed;
  left: 0;
  right: 0;
}

/* line 756, ../scss/style.scss */
.main, .sidebar {
  background: #FFF;
  height: 100vh;
}

/* line 761, ../scss/style.scss */
.main {
  width: 75%;
  padding: 0;
  overflow: auto;
}

/* line 767, ../scss/style.scss */
#mainContainer {
  padding: 20px 40px;
  margin-top: 121px;
}

/* line 772, ../scss/style.scss */
.subNav {
  padding: 20px 40px;
  position: fixed;
  z-index: 2;
  top: 42px;
  background: #FFF;
  width: 900px;
}
/* line 780, ../scss/style.scss */
.subNav .topLevel {
  border-bottom: 1px solid #C8C8C8;
  padding-bottom: 8px;
  margin: 0 0 14px 0;
}
/* line 785, ../scss/style.scss */
.subNav .topLevel .arrowColumn {
  padding: 0;
  text-align: left;
}
/* line 790, ../scss/style.scss */
.subNav .topLevel .arrows {
  display: inline-block;
  vertical-align: middle;
  font-family: jt-icons;
}
/* line 795, ../scss/style.scss */
.subNav .topLevel .arrows .arrowLeft, .subNav .topLevel .arrows .arrowRight {
  display: inline-block;
  vertical-align: middle;
  font-size: 23px;
  color: #C8C8C8;
}
/* line 803, ../scss/style.scss */
.subNav .topLevel .pageTitle {
  display: inline-block;
  vertical-align: middle;
  font-family: "museo", serif;
  color: #F16259;
  font-weight: lighter;
  font-size: 20px;
}
/* line 815, ../scss/style.scss */
.subNav .nav span {
  padding: 0 20px;
  border-right: 1px solid #A0A0A0;
  color: #A0A0A0;
  font-weight: lighter;
  font-size: 14px;
}
/* line 822, ../scss/style.scss */
.subNav .nav span:last-child {
  border-right: none;
}

/* line 829, ../scss/style.scss */
.tagSidebar {
  background: #f1f1f1;
  height: 100vh;
  width: 250px;
}

/* line 835, ../scss/style.scss */
.sidebar {
  padding: 0;
  width: 50px;
  background: #f6f6f6;
}
/* line 840, ../scss/style.scss */
.sidebar .sidebarFixed {
  position: fixed;
  width: 250px;
  background: #FFF;
}
/* line 846, ../scss/style.scss */
.sidebar .topProfile {
  background: #ececec;
  padding: 10px;
}
/* line 851, ../scss/style.scss */
.sidebar .profilePicture {
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  width: 60px;
  border: 2px solid #F16259;
  border-radius: 60px;
}
/* line 859, ../scss/style.scss */
.sidebar .profilePicture img {
  width: 100%;
  height: 100%;
  border-radius: 60px;
}
/* line 866, ../scss/style.scss */
.sidebar .profileText {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
/* line 871, ../scss/style.scss */
.sidebar .profileText .profileName {
  color: #F16259;
  margin-bottom: -6px;
}
/* line 876, ../scss/style.scss */
.sidebar .profileText .profileOptions {
  display: inline-block;
  vertical-align: bottom;
  font-size: 12px;
  color: #A0A0A0;
  text-decoration: underline;
  cursor: pointer;
}
/* line 886, ../scss/style.scss */
.sidebar ul {
  text-align: center;
  list-style: none;
}
/* line 890, ../scss/style.scss */
.sidebar ul li {
  padding: 12px 10px 5px 10px;
  color: #C8C8C8;
  cursor: pointer;
  -webkit-transition: color 200ms ease-out 200ms;
  -moz-transition: color 200ms ease-out 200ms;
  -o-transition: color 200ms ease-out 200ms;
  transition: color 200ms ease-out 200ms;
  border-bottom: 1px solid #C8C8C8;
}
/* line 900, ../scss/style.scss */
.sidebar ul li:hover {
  color: #F16259;
}
/* line 904, ../scss/style.scss */
.sidebar ul li:active {
  color: #F16259;
}
/* line 910, ../scss/style.scss */
.sidebar .sidebarIcon {
  display: inline-block;
  vertical-align: middle;
  font-family: jt-icons;
  font-size: 25px;
}
/* line 918, ../scss/style.scss */
.sidebar .sidebarText {
  display: inline-block;
  vertical-align: middle;
  font-family: "myriad-pro", sans-serif;
  font-weight: lighter;
}
/* line 925, ../scss/style.scss */
.sidebar .divider {
  width: 100%;
  height: 1px;
  background: #DCDCDC;
  margin: 10px 0;
}

/* line 934, ../scss/style.scss */
.subContainer {
  background: #F0F0F0;
  padding: 10px;
  text-align: right;
}
/* line 939, ../scss/style.scss */
.subContainer .editText, .subContainer .selectText {
  color: #999999;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  cursor: pointer;
}

/* line 948, ../scss/style.scss */
#albums, #images {
  padding-bottom: 20px;
}
/* line 952, ../scss/style.scss */
#albums .album, #albums .image, #images .album, #images .image {
  display: inline-block;
  vertical-align: top;
  height: 150px;
  width: 150px;
  background: #f1f1f1;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 60px;
  position: relative;
}
/* line 963, ../scss/style.scss */
#albums .album:nth-child(2), #albums .image:nth-child(2), #images .album:nth-child(2), #images .image:nth-child(2) {
  margin-left: 0px;
}
/* line 967, ../scss/style.scss */
#albums .album:nth-child(4n+6), #albums .image:nth-child(4n+6), #images .album:nth-child(4n+6), #images .image:nth-child(4n+6) {
  margin-left: 0px;
}
/* line 972, ../scss/style.scss */
#albums .image, #images .image {
  margin-top: 20px;
  margin-bottom: 0px;
}
/* line 976, ../scss/style.scss */
#albums .image .mainImage, #images .image .mainImage {
  border: none;
}
/* line 979, ../scss/style.scss */
#albums .image .mainImage img, #images .image .mainImage img {
  z-index: 99;
}
/* line 985, ../scss/style.scss */
#albums .imageTagOverlay, #images .imageTagOverlay {
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  font-weight: lighter;
  text-align: left;
  padding: 0 10px;
}
/* line 996, ../scss/style.scss */
#albums .imageTagOverlay .imageTagIcon, #albums .imageTagOverlay .warningIcon, #images .imageTagOverlay .imageTagIcon, #images .imageTagOverlay .warningIcon {
  font-family: jt-icons;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
/* line 1003, ../scss/style.scss */
#albums .imageTagOverlay .warningIcon, #images .imageTagOverlay .warningIcon {
  float: right;
  font-size: 18px;
  color: #ef6259;
}
/* line 1010, ../scss/style.scss */
#albums .imageTagOverlay .imageTags, #images .imageTagOverlay .imageTags {
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
  cursor: pointer;
}
/* line 1018, ../scss/style.scss */
#albums .singleImage, #images .singleImage {
  width: 100%;
  height: 100%;
}
/* line 1022, ../scss/style.scss */
#albums .singleImage img, #images .singleImage img {
  width: 100%;
}
/* line 1027, ../scss/style.scss */
#albums .imageInfo, #images .imageInfo {
  background: #fadad9;
  color: #F16259;
  font-size: 14px;
  padding: 5px 10px;
}
/* line 1034, ../scss/style.scss */
#albums .favouriteImage, #images .favouriteImage {
  position: absolute;
  z-index: 9;
  right: 6px;
}
/* line 1039, ../scss/style.scss */
#albums .favouriteImage .heartIcon, #images .favouriteImage .heartIcon {
  font-family: jt-icons;
  color: #ef6259;
  font-size: 22px;
}
/* line 1046, ../scss/style.scss */
#albums .imageContainer, #images .imageContainer {
  position: relative;
  width: 150px;
  height: 150px;
}
/* line 1052, ../scss/style.scss */
#albums .folder1, #images .folder1 {
  width: 110px;
  height: 110px;
  position: absolute;
  top: -15px;
  left: 20px;
  border: 1px solid #ccc;
}
/* line 1061, ../scss/style.scss */
#albums .folder2, #images .folder2 {
  width: 130px;
  height: 130px;
  position: absolute;
  top: -8px;
  left: 10px;
  border: 1px solid #ccc;
  z-index: 8;
}
/* line 1071, ../scss/style.scss */
#albums .mainImage, #images .mainImage {
  height: 150px;
  width: 150px;
  z-index: 9;
  border: 1px solid #ccc;
  position: absolute;
}
/* line 1079, ../scss/style.scss */
#albums .albumTitle, #images .albumTitle {
  font-size: 17px;
  color: #787878;
  margin-top: 10px;
}
/* line 1085, ../scss/style.scss */
#albums .editAlbumTitle, #images .editAlbumTitle {
  background: #F0F0F0;
  border-radius: 4px;
}
/* line 1090, ../scss/style.scss */
#albums .albumContainer, #images .albumContainer {
  width: 150px;
  text-align: center;
  padding-left: 23px;
  cursor: pointer;
}
/* line 1097, ../scss/style.scss */
#albums .addAlbumIcon, #images .addAlbumIcon {
  font-family: jt-icons;
  font-size: 150px;
  text-align: left;
  margin-top: 20px;
  color: #C8C8C8;
  position: relative;
  z-index: 7;
}
/* line 1106, ../scss/style.scss */
#albums .addAlbumIcon:before, #images .addAlbumIcon:before {
  content: "?";
  position: absolute;
  font-family: inherit;
  font-size: 50px;
  color: inherit;
  margin-top: 71px;
  z-index: 8;
  margin-left: 51px;
}
/* line 1118, ../scss/style.scss */
#albums .addAlbumText, #images .addAlbumText {
  margin-top: -45px;
  color: #C8C8C8;
  padding-left: 23px;
}

/* line 1125, ../scss/style.scss */
.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

/* line 1138, ../scss/style.scss */
.dialogContainer {
  position: relative;
  margin: 0 auto;
  width: 400px;
  height: 100%;
}
/* line 1144, ../scss/style.scss */
.dialogContainer .dialogBox {
  background: #FFF;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 15px 20px;
  height: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -105px;
  color: #505050;
}
/* line 1159, ../scss/style.scss */
.dialogContainer .dialogHeader .dialogText {
  font-size: 17px;
}
/* line 1163, ../scss/style.scss */
.dialogContainer .dialogHeader .deleteDialogText {
  width: 284px;
  margin: 0 auto;
}
/* line 1168, ../scss/style.scss */
.dialogContainer .dialogHeader .deleteDialogCloseBtn {
  margin-top: -112px !important;
}
/* line 1172, ../scss/style.scss */
.dialogContainer .dialogHeader .dialogCloseBtn {
  font-family: jt-icons;
  font-size: 40px;
  transform: rotate(45deg);
  height: 40px;
  width: 40px;
  color: #C8C8C8;
  cursor: pointer;
  float: right;
  margin-top: -38px;
}
/* line 1184, ../scss/style.scss */
.dialogContainer .dialogHeader .messageDialogText {
  width: 305px;
  margin: 0 auto;
}
/* line 1189, ../scss/style.scss */
.dialogContainer .dialogHeader .messageDialogCloseBtn {
  margin-top: -63px !important;
  margin-right: -15px;
}
/* line 1195, ../scss/style.scss */
.dialogContainer .dialogInput {
  background: #F0F0F0;
  border: none;
  box-shadow: none;
  border-radius: 4px;
  margin-top: 20px;
  padding: 10px 20px;
  box-sizing: border-box;
  height: 50px;
  color: #A0A0A0;
  font-size: 17px;
  font-weight: lighter;
}
/* line 1209, ../scss/style.scss */
.dialogContainer .deleteBtn, .dialogContainer .messageBtn {
  margin-top: 23px;
}
/* line 1213, ../scss/style.scss */
.dialogContainer button {
  background: #FFF;
  border: 2px solid #F16259;
  border-radius: 50px;
  color: #F16259;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-family: "myriad-pro", sans-serif;
  letter-spacing: 0.5px;
  padding: 0;
  margin-bottom: 0px;
  margin-top: 5px;
}

/* line 1229, ../scss/style.scss */
.selectAlbumTitle {
  background: #FCDCDB !important;
  color: #F16259 !important;
  border-radius: 4px;
}

/* line 1235, ../scss/style.scss */
.selectAlbum {
  border: 4px solid #F16259 !important;
}

/* line 1239, ../scss/style.scss */
.selectFolder {
  border: none !important;
}
/* line 1243, ../scss/style.scss */
.selectFolder:before {
  content: "";
  background: rgba(241, 98, 89, 0.6);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 1255, ../scss/style.scss */
#profile .profileHeader {
  background: #F16259;
  text-align: center;
  position: relative;
  height: 235px;
  width: 100%;
  padding: 20px;
}
/* line 1264, ../scss/style.scss */
#profile .profileImg {
  height: 160px;
  width: 160px;
  margin: 0 auto;
  border-radius: 85px;
  border: 4px solid #FFF;
  margin-bottom: 10px;
}
/* line 1272, ../scss/style.scss */
#profile .profileImg img {
  width: 100%;
  border-radius: 85px;
}
/* line 1278, ../scss/style.scss */
#profile .profileName {
  color: #FFF;
  font-size: 20px;
  font-weight: lighter;
  font-family: "myriad-pro", sans-serif;
}
/* line 1285, ../scss/style.scss */
#profile .profileInfo {
  padding: 40px;
  text-align: left;
}
/* line 1290, ../scss/style.scss */
#profile .dob, #profile .gender, #profile .profileLabel, #profile .value, #profile .fname, #profile .lname {
  display: inline-block;
  vertical-align: middle;
}
/* line 1295, ../scss/style.scss */
#profile .dob, #profile .gender, #profile .address, #profile .mob, #profile .emailAdd, #profile .fname, #profile .lname {
  margin-bottom: 40px;
}
/* line 1299, ../scss/style.scss */
#profile .dob, #profile .gender, #profile .fname, #profile .lname {
  width: 49%;
}
/* line 1303, ../scss/style.scss */
#profile .gender {
  margin-left: 2px;
}
/* line 1307, ../scss/style.scss */
#profile .lname {
  margin-left: 6px;
}
/* line 1313, ../scss/style.scss */
#profile .emailAdd button {
  background: #FFF;
  border: 2px solid #F16259;
  color: #F16259;
  padding: 0 5px;
  border-radius: 40px;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin-left: 5px;
  display: none;
}
/* line 1326, ../scss/style.scss */
#profile .editProfileHeader {
  height: auto !important;
}
/* line 1329, ../scss/style.scss */
#profile .editProfileHeader .editProfileImg {
  height: 40px !important;
  width: 40px !important;
  border: 2px solid #FFF !important;
  cursor: pointer;
}
/* line 1337, ../scss/style.scss */
#profile .currentPW, #profile .newPW, #profile .confirmPW {
  margin-bottom: 20px;
}
/* line 1341, ../scss/style.scss */
#profile .profileLabel {
  color: #F16259;
  display: inline-block;
  width: 120px;
  font-family: "museo", serif;
  font-size: 16px;
}
/* line 1349, ../scss/style.scss */
#profile .passwordLabel {
  width: 188px;
}
/* line 1353, ../scss/style.scss */
#profile .value {
  font-weight: lighter;
  font-size: 17px;
}
/* line 1358, ../scss/style.scss */
#profile #bioValue {
  width: 80%;
}
/* line 1362, ../scss/style.scss */
#profile .editValue, #profile .editPasswordValue {
  background: #F0F0F0;
  padding: 10px;
  border-radius: 4px;
  width: 80%;
}
/* line 1369, ../scss/style.scss */
#profile .editPasswordValue {
  width: 70%;
}
/* line 1373, ../scss/style.scss */
#profile .btnContainer {
  padding-left: 125px;
  margin-top: 40px;
  display: none;
}
/* line 1378, ../scss/style.scss */
#profile .btnContainer button {
  background: #FFF;
  border: 2px solid #F16259;
  color: #F16259;
  border-radius: 80px;
  width: 180px;
  padding: 15px 0;
  margin-right: 60px;
}
/* line 1388, ../scss/style.scss */
#profile .btnContainer .greyBtn {
  color: #787878;
  border: 2px solid #787878;
  margin-right: 0px;
}
/* line 1395, ../scss/style.scss */
#profile .passwordBtnContainer {
  margin-top: 60px;
  text-align: center;
}
/* line 1399, ../scss/style.scss */
#profile .passwordBtnContainer button {
  background: #FFF;
  border: 2px solid #F16259;
  color: #F16259;
  border-radius: 80px;
  width: 180px;
  padding: 15px 0;
}

/* line 1412, ../scss/style.scss */
#tree {
  text-align: left;
}
/* line 1415, ../scss/style.scss */
#tree .postContainer {
  background: #F0F0F0;
  border-radius: 4px;
  padding: 5px 18px;
  text-align: left;
  color: #505050;
  margin-bottom: 20px;
  cursor: pointer;
}
/* line 1424, ../scss/style.scss */
#tree .postContainer .staffImg {
  display: inline-block;
  vertical-align: middle;
  width: 33px;
  height: 33px;
  border: 2px solid #F16259;
  border-radius: 30px;
}
/* line 1432, ../scss/style.scss */
#tree .postContainer .staffImg img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
/* line 1439, ../scss/style.scss */
#tree .postContainer .post {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  width: 82%;
  padding: 8px 0;
}
/* line 1447, ../scss/style.scss */
#tree .postContainer .plusIcon {
  font-family: jt-icons;
  float: right;
  margin-top: -4px;
  font-size: 35px;
  color: #A0A0A0;
  cursor: pointer;
}
/* line 1457, ../scss/style.scss */
#tree .postedBy {
  padding-left: 20px;
  position: relative;
  z-index: 1;
}
/* line 1463, ../scss/style.scss */
#tree .postedByImg {
  width: 80px;
  height: 80px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 80px;
  border: 18px solid #FFF;
}
/* line 1471, ../scss/style.scss */
#tree .postedByImg img {
  border-radius: 40px;
  border: 2px solid #F16259;
}
/* line 1477, ../scss/style.scss */
#tree .postedByText {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
/* line 1483, ../scss/style.scss */
#tree .thumbnail {
  margin-top: -22px;
  height: auto;
  width: 640px;
  position: relative;
  cursor: pointer;
}
/* line 1490, ../scss/style.scss */
#tree .thumbnail img {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
}
/* line 1498, ../scss/style.scss */
#tree .postItem {
  background: #D1E0AB;
  padding: 40px;
  margin-top: -22px;
}
/* line 1504, ../scss/style.scss */
#tree .postInfo {
  color: #A0A0A0;
  font-size: 12px;
  margin-top: 10px;
  font-weight: lighter;
}
/* line 1510, ../scss/style.scss */
#tree .postInfo .bold {
  font-weight: 600;
}
/* line 1513, ../scss/style.scss */
#tree .postInfo .tags {
  display: inline-block;
  vertical-align: middle;
}
/* line 1518, ../scss/style.scss */
#tree .postInfo .time {
  float: right;
  margin-top: 3px;
}
/* line 1524, ../scss/style.scss */
#tree .divider {
  width: 100%;
  height: 1px;
  background: #A0A0A0;
  margin: 40px 0;
}
/* line 1531, ../scss/style.scss */
#tree .storyFeedTitle {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #FFF;
  font-family: "museo", serif;
  font-size: 35px;
  padding: 20px;
  font-weight: lighter;
}
/* line 1543, ../scss/style.scss */
#tree .smallThumbnail {
  display: inline-block;
  vertical-align: middle;
  width: 157px;
  height: auto;
  margin-top: 5px;
  position: relative;
  cursor: pointer;
}
/* line 1553, ../scss/style.scss */
#tree .morePhotos {
  position: absolute;
  color: #efeff4;
  font-size: 45px;
  top: 9px;
  left: 50%;
  margin-left: -29px;
}

/* line 1563, ../scss/style.scss */
.postMelonText {
  color: #F16259;
  font-weight: 500;
}

/* line 1568, ../scss/style.scss */
#viewPost {
  text-align: left;
}
/* line 1571, ../scss/style.scss */
#viewPost .closePostContainer {
  text-align: left;
  padding: 0 10px;
  color: #C8C8C8;
}
/* line 1576, ../scss/style.scss */
#viewPost .closePostContainer .closePostBtn {
  font-family: jt-icons;
  font-size: 45px;
  cursor: pointer;
}
/* line 1583, ../scss/style.scss */
#viewPost .postInfoContainer {
  display: inline-block;
  vertical-align: middle;
  font-weight: lighter;
  font-family: "myriad-pro", sans-serif;
  color: #787878;
  font-size: 14px;
  margin-top: 12px;
}
/* line 1593, ../scss/style.scss */
#viewPost .closeContainer {
  display: inline-block;
  vertical-align: middle;
  float: right;
}
/* line 1599, ../scss/style.scss */
#viewPost .viewPostContainer {
  padding: 10px 40px;
}
/* line 1603, ../scss/style.scss */
#viewPost .profilePicture {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  border: 2px solid #F16259;
  border-radius: 40px;
}
/* line 1610, ../scss/style.scss */
#viewPost .profilePicture img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}
/* line 1617, ../scss/style.scss */
#viewPost .postInfo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
/* line 1623, ../scss/style.scss */
#viewPost .itemTags {
  text-align: left;
  color: #787878;
  font-weight: lighter;
  margin-top: 15px;
}
/* line 1629, ../scss/style.scss */
#viewPost .itemTags .tagIcon {
  font-family: jt-icons;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  margin-right: 5px;
  color: #C8C8C8;
}
/* line 1638, ../scss/style.scss */
#viewPost .itemTags .tagText {
  display: inline-block;
  vertical-align: middle;
}

/* line 1646, ../scss/style.scss */
#images .selected {
  z-index: 1;
}
/* line 1650, ../scss/style.scss */
#images .selected:before {
  content: "";
  width: 150px;
  height: 150px;
  position: absolute;
  background: rgba(241, 99, 88, 0.6);
  z-index: 1;
}

/* ---------- End Other Styling ---------- */
